<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <ProstheticIconsCategoryLabel>Prosthetic Icons</ProstheticIconsCategoryLabel>
  <patchIconsLabel>Change texture to reflect prosthesis</patchIconsLabel>
  <colorIconsLabel>Color texture to reflect tech level of prosthesis</colorIconsLabel>

</LanguageData>